# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# JWT Configuration
JWT_SECRET=your_jwt_secret_here

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000 



POSTGRES_URL="postgres://postgres.rynwcycktpaewstadizr:NtXEHowcwldRtQRx@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.rynwcycktpaewstadizr.supabase.co"
SUPABASE_JWT_SECRET="G0ABv4gJlNryu7/5VBRPBiYsb7mNUBTZMje7QNLqpgZqTDsA88OaOvRdZZDZHavKtk8q5jEfuuMX6ztC5I3MGw=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5bndjeWNrdHBhZXdzdGFkaXpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzMzc5OTIsImV4cCI6MjA3MDkxMzk5Mn0.px5uxdtMOPo0JLYZGKPq9W4HOrZbOVFqhKwVNXhUODY"
POSTGRES_PRISMA_URL="postgres://postgres.rynwcycktpaewstadizr:NtXEHowcwldRtQRx@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="NtXEHowcwldRtQRx"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://rynwcycktpaewstadizr.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5bndjeWNrdHBhZXdzdGFkaXpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzMzc5OTIsImV4cCI6MjA3MDkxMzk5Mn0.px5uxdtMOPo0JLYZGKPq9W4HOrZbOVFqhKwVNXhUODY"
NEXT_PUBLIC_SUPABASE_URL="https://rynwcycktpaewstadizr.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5bndjeWNrdHBhZXdzdGFkaXpyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTMzNzk5MiwiZXhwIjoyMDcwOTEzOTkyfQ.oMOBPiQj0K1mv85Toat8yTsUFRSP1UzuA043PLjcopU"
POSTGRES_URL_NON_POOLING="postgres://postgres.rynwcycktpaewstadizr:NtXEHowcwldRtQRx@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"